IMAGE=blog
VERSION=latest
GARAGE_VERSION=v2.4.1

SQLITE_DB_PATH=./data/db.sqlite
S3_ENDPOINT=garage-s3:3900
S3_URL=http://localhost:3902

GK_ACCESS_KEY_FILE=./secrets/gk_access_key
GK_SECRET_KEY_FILE=./secrets/gk_secret_key

