IMAGE=blog
VERSION=latest
GARAGE_VERSION=v2.4.1

SQLITE_DB_PATH=./data/db.sqlite
S3_ENDPOINT=garage-s3:3900
S3_ENDPOINT_IS_SECURE=true
S3_URL=http://localhost:3902
SESSION_COOKIE_NAME=session

MEDIA_WORKER_INTERVAL=1h

GK_ACCESS_KEY_FILE=./secrets/gk_access_key
GK_SECRET_KEY_FILE=./secrets/gk_secret_key

ADMIN_LOGIN_FILE=./secrets/admin_login
ADMIN_PASS_HASH_FILE=./secrets/admin_pass_hash
ADMIN_SESSION_ID_FILE=./secrets/admin_session_id
