package views

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>{ title }</title>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/static/css/bamboo.min.css"/>
			<script defer src="/static/js/htmx.min.js"></script>
			// favicon
			<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png"/>
			<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png"/>
			<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png"/>
			<link rel="manifest" href="/static/favicon/site.webmanifest"/>
		</head>
		<body>
			<h1><a href="/">Example website</a></h1>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
